@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

$loadOrError:#f869a0;
$loadOrErrorBg: rgba(248, 105, 160, 0.8);

* {
    padding: 0;
    margin: 0;
    font-family: 'Lilita-One', cursive;
    color: white;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    .errorWarning {
        z-index: 9999;
        display: none;
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        .error {
            display: none;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            position: absolute;
            width: 20%;
            min-width: 150px;
            border: 10px solid $loadOrErrorBg;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            padding: 1.5em;
            .close {
                color: white;
                right: 1%;
                top: 0;
                font-weight:bold;
                font-size: 1.5rem;
                position: absolute;
                &:hover, &:focus {
                    color: $loadOrError;
                    cursor: pointer;
                }
            }
        }
        .loading {
            display: none;
            width: 200px;
            height: 200px;
            position: absolute;
            border-radius: 50%;
            background: transparent;
            border: 40px solid #f3f3f3;
            border-top: 40px solid $loadOrError;
            animation: load 1.2s ease-in-out infinite;
        }
        @keyframes load {
            0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
        }
    }
    .content {
        min-height: 100%;
        min-width: 100%;
        background: url('../assets/background.png') 0 no-repeat, $loadOrErrorBg;
        background-size: cover;
        background-position: center;
        padding: 1em 4em;
        
        .mainContent {
            min-height: 95vh;
            min-width: 100%;
            display: grid;
            align-content: space-evenly;
            grid-template-rows: 1fr 1fr;
            .todayInfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 5%;
                .mainInfo {
                    display: flex;
                    flex-direction: column;
                    .locationInfo {
                        .name {
                            font-size: 2rem;
                        }
                        .dayInfo, .currentTime {
                            font-size: 1.5rem;
                        }
                    }
                    .degreesInfo {
                        .degreesDiv {
                            display: flex;
                            .degrees {
                                font-size: 2.5rem;
                            }
                        }
                        
                        .weatherDescription {
                            font-size: 1.5rem;
                        }
                        .search-box{
                            margin-top: min(5%, 50px);
                            width: fit-content;
                            height: fit-content;
                            position: relative;
                            .input-search {
                                height: 50px;
                                width: 50px;
                                border-style: none;
                                padding: 10px;
                                font-size: 18px;
                                letter-spacing: 2px;
                                outline: none;
                                border-radius: 25px;
                                transition: all .5s ease-in-out;
                                background-color: rgba(0, 0, 0, 0.5);
                                padding-right: 40px;
                                color:#fff;
                          }
                            .input-search::placeholder {
                                color:rgba(255,255,255,.5);
                                font-size: 18px;
                                letter-spacing: 2px;
                                font-weight: 100;
                            }
                            .btn-search{
                                width: 50px;
                                height: 50px;
                                border-style: none;
                                font-size: 20px;
                                font-weight: bold;
                                outline: none;
                                cursor: pointer;
                                border-radius: 50%;
                                position: absolute;
                                right: 0px;
                                color:#ffffff ;
                                background-color:transparent;
                                pointer-events: painted;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .btn-search:focus ~ .input-search{
                                width: 300px;
                                border-radius: 0px;
                                background-color: transparent;
                                border-bottom:1px solid rgba(255,255,255,.5);
                                transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
                            }
                            .input-search:focus{
                                width: 300px;
                                border-radius: 0px;
                                background-color: transparent;
                                border-bottom:1px solid rgba(255,255,255,.5);
                                transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
                            }
                        }
                    }
                }
                .secondaryInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.1rem;
                    gap: 5%;
                    > div {
                        text-align: center;
                    }
                }
            }
        }
        .summaryDayHour {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .toggleDaysHours {
                display:flex;
                .days, .hours {
                    background:transparent;
                    outline: none;
                    border: 2px solid $loadOrError;
                    font-size: 1.25rem;
                    margin:0;
                    padding:0.5em;
                    cursor: pointer;
                }
                .days {
                    border-right: none;
                    background: $loadOrError;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }
                .hours {
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
            }
            .weekSummary {
                display: flex;
                font-size: 1.3rem;
                justify-content: space-between;
                
                }
                .upcomingDayDiv, .hourDiv{
                    display: flex;
                    flex-direction: column;
                    row-gap: 5%;
                    .dayName, .hourName {
                        margin-bottom: 5%;
                    }
                    > div {
                        display: flex;
                    }
                }
    }
}


.icon {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
}
.weatherIcon {
    max-width: 30px;
    max-height: 30px;
}
.toggleDegreesButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 80px;
    height:50px;
    border-radius: 20px;
    background:rgba(255,255,255,.5);
    appearance: none;
    z-index:1;
    
    &::after {
        height:50px;
        width:50px;
        border-radius:20px;
        background: $loadOrError;
        content: '°C';
        color: white;
        position: absolute;
        left: 0;
        z-index:2;
        display:flex;
        justify-content: center;
        align-items: center;
        outline: none;
        transition: 250ms ease-in-out;

    }
    &:checked::after {
        left: 40%;
        content: '°F';
        transition: 250ms ease-in-out;

    }
}

.oneLine {
    text-wrap: nowrap;
}

.alignVert {
    display: flex;
    flex-direction: column;
    width:120px;
    align-items: center;
}
.secDev {
    display: flex;
    column-gap: 5%;
    align-items: center;
    width:150px;
}